name: Go CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    environment:
      name: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go App Environment
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test ./... -v

      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
            host: ${{ secrets.DO_HOST }}
            username: ${{ secrets.DO_USER }}
            key: ${{ secrets.DO_SSH_KEY }}
            script: |
                cd /var/www/api-go || exit 1
                git pull origin main
                docker compose down
                docker compose up -d --build